<div class="mat-card-cvr"> 
<mat-card id="card" style="text-align:center;" class="example-card">
        <mat-card-title>Sign up </mat-card-title>
<mat-card-content>



<mat-form-field floatLabel="auto" appearance="standard" color="primary">
    <mat-label >Name</mat-label>
    <input matInput required>
    </mat-form-field><br/>
<mat-form-field floatLabel="auto" appearance="standard" color="primary">
    <mat-label >Email</mat-label>
    <input type="email" matInput required>
    </mat-form-field><br/>
<mat-form-field floatLabel="auto" appearance="standard" color="primary">
    <mat-label >Mobile No.</mat-label>
    <input type="tel" matInput required>
    </mat-form-field><br/>
<mat-form-field floatLabel="auto" appearance="standard" color="primary">
    <mat-label >Password</mat-label>
    <input type="password" matInput required>
    <mat-hint align="end">Min 8 characters</mat-hint>
    </mat-form-field><br/>
<mat-form-field floatLabel="auto" appearance="standard" color="primary">
    <mat-label >Retype Password</mat-label>
    <input type="password" matInput required>
    </mat-form-field><br/>

</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="primary" style="margin-right:5px;">NEXT</button>                                                                      
    
  </mat-card-actions>
</mat-card>
</div>