<mat-toolbar class="fixed-header" color="primary">
    <mat-toolbar-row>
        <span style="cursor:pointer">Eat & Greet</span>
        <span class="example-spacer"></span>
        <button mat-button>LOGOUT</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlex class="example-container" >
        <mat-sidenav #snav mode="side" fixedTopGap="10" color="primary">
            <mat-nav-list>
             <mat-list-item> <a href="#"> Wallet </a> </mat-list-item>
            
            </mat-nav-list>
        </mat-sidenav>
        
      </mat-sidenav-container>
